<div class="anchor-panel dark-area">
	<header>
		<div>
			<span class="symbol txt-green">⚙</span>
		</div>
		<h1 class="hN alpha title"><a class="txt-white" href="{{ site.baseurl }}">Web-Craft</a></h1>
		<nav role="navigation">
			<ul>
				<li class="hN gamma"><a data-icon="═" class="sans brand icon txt-white" href="{{ site.baseurl }}/fundamentals">Fundamentals</a></li>
				<li class="hN gamma"><a data-icon="{}" class="sans brand icon txt-white" href="{{ site.baseurl }}/styleguide">Styleguide</a></li>
				<li class="hN gamma"><a data-icon="⇧" class="sans brand icon txt-green flipped" href="{{ site.baseurl }}/primer">Primer</a></li>
			</ul>
		</nav>
	</header>

	<footer class="stick-bottom">
		<nav role="navigation">
			<ul>
				<li class="hN delta"><a data-icon="⥂" class="sans icon txt-white" href="//github.com/zakkain/webcraft">Get Source</a></li>
				<li class="hN delta"><a data-icon="❦" class="sans icon txt-white" href="{{ site.baseurl }}/colophon">Colophon</a></li>
			</ul>
		</nav>
	</footer>
</div>