<div class="anchor-panel dark-area">
	<header>
		<span class="symbol txt-green">⚒</span>
		<h1 class="hN alpha title"><a class="txt-white" href="{{ site.baseurl }}">Web-Craft</a></h1>
		<nav role="navigation">
			<ul>
				<li class="hN gamma"><a data-icon="═" class="sans brand icon txt-blue" href="{{ site.baseurl }}/fundamentals">Fundamentals</a></li>
				<li class="hN gamma"><a data-icon="▵" class="sans brand icon txt-blue" href="">Patterns</a></li>
				<li class="hN gamma"><a data-icon="¶" class="sans brand icon txt-red" href="">Journal</a></li>
				<li class="hN gamma"><a data-icon="⇧" class="sans brand icon txt-green flipped" href="">Primer</a></li>
			</ul>
		</nav>
	</header>

	<footer class="stick-bottom">
		<nav role="navigation">
			<ul>
				<li class="hN delta"><a data-icon="☁" class="sans icon txt-white" href="//github.com/zakkain/webcraft">Fork on Github</a></li>
				<li class="hN delta"><a data-icon="✦" class="sans icon txt-white" href="">About</a></li>
				<li class="hN delta"><a data-icon="❦" class="sans icon txt-white" href="">Colophon</a></li>
			</ul>

			<!-- twitter button -->
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lab.zacharykain.com/webcraft. t" data-text="Check out Web-Craft, a free web design curriculum" data-via="zakkain">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			
			<!-- google+ button -->
			<div class="g-plusone" data-size="medium" data-href="lab.zacharykain.com/webcraft"></div>

			<!-- Place this render call where appropriate -->
			<script type="text/javascript">
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/plusone.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>

			<!-- facebook button -->
			<div id="fb-root"></div>

			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=364670606909953";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>

			<div class="fb-like" data-href="http://lab.zacharykain.com/webcraft" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-colorscheme="dark" data-font="lucida grande"></div>
		</nav>
	</footer>
</div>