---
layout: post
title: "Pattern Library"
description: "The Web-Craft pattern library is an invaluable resource, a knowledge base with a remarkable signal-to-noise ratio. Each design pattern and snippet is well-documented with sample usage."
---

There will be entries appearing soon!

<h1 class="hN beta">Patterns</h1>
{% for post in site.categories.patterns limit:5 %}
<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

{{ post.content | replace:'more start -->','' | replace:'&lt;!-- more end','' }}

<em>Posted on {{ post.date | date_to_long_string }}.</em>
{% endfor %}


<h1 class="hN beta">Snippets</h1>
{% for post in site.categories.snippets limit:5 %}
<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

{{ post.content | replace:'more start -->','' | replace:'&lt;!-- more end','' }}

<em>Posted on {{ post.date | date_to_long_string }}.</em>
{% endfor %}